* @sathishp-eGov
core/* @sathishp-eGov @rushang7-eGov @GhanshyamRawat-eGov	
reference-adapter/* @manikanta-pt-eGov @sathishp-eGov @GhanshyamRawat-eGov	
domain-services/* @sathishp-eGov @rushang7-eGov @GhanshyamRawat-eGov
